.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.ml {
    margin-left: 10px;
}

.pozadina{
    background-image : url("./components/hakaton-sliba.jpg");
    background-size : auto;
    height: 100vh;
    width: 100vw;
    padding-top: 20px;
}

.poz-navbar {
    background: rgb(121,199,198);
    background: linear-gradient(90deg, rgba(121,199,198,1) 35%, rgba(203,230,229,1) 100%);
}

button {
    background-color: #79c7c6;
}

.btn-color {
    background-color: #79c7c6 !important;
}

.logo {
    background-image: url("./components/logo2.jpg");
    background-size: auto;
    height: 20px;
    width: 30px;
    z-index: 5;
}
